.grid-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.left-side {
  flex: 1;
  min-width: 300px;
  border-right: 1px solid #ccc;
  padding: 1rem;
  background-color: #f8f9fa;
  overflow: auto;
  
  
}

.right-side {
  flex: 2;
  min-width: 0; /* prevents overflow */
  padding: 1rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}